{% extends 'base.html' %}

{% block body %}
    <h2 class="text-center mt-2 mb-5">Cross Token Project</h2>
    <div class="container w-25 mb-1 mt-5">
        <h4 class="text-center mt-1 mb-2">Pages</h4>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{% url 'admin-panel' %}">Admin</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'alice' %}">Alice</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'bob' %}">Bob</a>
            </li>
        </ul>
    </div>
{% endblock %}